/* font-family: 'Jura', sans-serif;
font-family: 'Poppins', sans-serif; */



html{
    font-family:'Poppins', sans-serif;
    font-size:10px;
    font-weight:400;
    line-height:1.5;
    color:#3d3d3d;
}

span.red-line{
    
    height:3px;
    background:#F31D5F;
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:9999999999999999;
}


body{
    background:#1a1a23;
}


a.navbar-brand{
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff!important;
    font-size:3.5rem;
}

a.navbar-brand span{
    color:#F31D5F;
}

nav ul li {
    padding:20px 25px;
}

nav ul li a.nav-link{
    color:#fff;
    font-size:1.6rem;
    font-weight:400;
    text-transform:capitalize;
    position: relative;
}


a.nav-link::before{
    content:"";
    display:inline-block;
    width:100%;
    height:10px;
    border-bottom:2px solid #F31D5F;
    position: absolute;
    bottom:0;
    left:0;
    transform:scaleX(0);
    transition:.3s;
    transform-origin: left;
}

a.nav-link:hover::before{
    transform:scaleX(1);
    transform-origin: right;
}

.button{
    color:#fff;
    background:#F31D5F;
    padding:10px 50px;
    border:none;
    border-radius:100px;
    font-size:1.6rem;
    font-weight:500;
    box-shadow:0px 15px 40px rgba(243, 29, 95,.4);
}



.header{
    background:url('../img/header-2.png');
    background-repeat: no-repeat;
    background-position: 90% 80%;
    width:100%;
    height:768px;
    background-color:#1D1E27;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}



/* ==========================HERO SECTION========================== */

.hero-content{
    padding-top:250px;
    max-width:500px;
}

.hero-heading{
    font-size:60px;
    font-weight:700;
    color:#fff;
    margin:0;
}

.hero-paragraph{
    color:#CECECE;
    font-weight:400;
    font-size:1.6rem;
    margin:30px 0;
}


/* section latest */

.section-latest{
    padding:80px 0;
}

.section-latest__upper{
    max-width:500px;
    margin:auto;
}

.section-latest__upper-heading{
    font-size:50px;
    font-weight:600;
    color:#fff;
}

.section-latest__card{
    height:400px;
    border-radius:4px;
}

.section-latest__card--1{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.466)),url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.section-latest__card--1:hover{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.603)),url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
}
.section-latest__card--2{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.466)),url('../img/img-2.jpg');
    background-size: cover;
    background-position: center;
}

.section-latest__card--2:hover{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.603)),url('../img/img-2.jpg');
    background-size: cover;
    background-position: center;
}

.section-latest__card-content{
    position:absolute;
    left:8%;
    bottom:8%;
}

.section-latest__para{
    font-size:12px;
    font-weight:400;
    color:#fff;
    margin:0;
}

.section-latest__heading{
    font-size:18px;
    font-weight:600;
    color:#CECECE;
    margin:5px 0px 15px 0px;
}

.h-margin{
    margin-top:50px;
}

/* =======================Features section======================= */

.features{
    background:url('../img/feature.png');
    background-color:#1D1E27;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size:500px;
    padding:100px 0;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}





.features-upper{
    max-width:330px;
    margin:0 auto 100px;

}

.features-heading{
    font-size:50px;
    font-weight:600;
    color:#fff;
    margin-bottom:10px;
}

.features-para{
    font-size:16px;
    font-weight:400;
    color:#CECECE;
}

.features-item__img{
    margin-bottom:20px;
}

.features-item__title{
    font-size:22px;
    color:#fff;
}

.features-item__para{
    font-size:16px;
    color:#CECECE;
    padding-top:15px;
}

.p-relative{
    position:relative;
}

/* =======================Client section======================= */

.client{
    padding:100px 0;
}

.client-upper{
    width:400px;
    margin:0 auto 70px;
    text-align: center;
}

.client__heading{
    font-size:50px;
    font-weight:600;
    color:#fff;
}


.client-img{
    width:60px;
    height:60px;
    border-radius:100px;
    border:3px solid #fff;
    overflow: hidden;
    margin:auto;
    margin-bottom:20px;
}

.client-title{
    font-size:20px;
    color:#fff;
    font-weight:500;
    text-align: center;
    margin-bottom:10px;
}

.client-para{
    font-size:16px;
    font-weight:400;
    color:#CECECE;
    text-align: center;
    position: relative;
}

.client-para::before{
    content:"";
    display:block;
    background:url('../img/quote.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    position: absolute;
    top:-18px;
    left:0;
}

.client-para::after{
    content:"";
    display:block;
    background:url('../img/quote.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    position: absolute;
    right:0;
    bottom:-18px;
    transform:rotate(180deg);
}

/* =======================Cta section======================= */

.cta{
    background-color:#1D1E27;
    padding-top:150px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}



.cta-heading{
    font-size:60px;
    font-weight:300;
    color:#fff;
}


.cta-para{
    font-size:20px;
    color:#CECECE;
    margin:15px auto;
    font-weight:300;
    width:80%;
}

/*==========================Footer==========================*/

.f-row{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.footer{
    margin-top:150px;
}

.footer-list{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    justify-content: flex-end;
}

.footer-item{
    padding:10px 20px;
}

.footer-link{
    font-size:16px;
    color:#fff;
    text-decoration: none;
}

.footer-link:hover{
    color:#cecece;
}


